.exercise-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  flex: 1;
  padding: 0 60px;
  color: #3c3c3c;

  .exercise-detail {
    flex: 1;

    .pictures-selecting-container {
      display: flex;
      flex-direction: row;
      height: 100%;
      
      .picture-and-info-container {
        cursor: pointer;
        flex: 1;
        border: 2px solid #ddd;
        border-radius: 20px;
        height: 80%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        min-height: 230px;
        font-weight: bold;
        // color: #111;
        // background-color: sandybrown;

        .picture-container {
          flex: 4;
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: brown;

          .picture {
            width: 180px;
            height: auto;
          }
        }

        .answer-and-tab-number {
          margin: 0 28px 10px;
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .answer {
            font-size: 18px;
          }

          .tab-number {
            display: flex;
            justify-content: center;
            align-items: center;
            // text-align: center;
            // line-height: 36px;
            width: 36px;
            height: 36px;
            border-radius: 10px;
            border: 2px solid #ddd;
          }
        }
      }
    }

  }
}

.requirement {
  margin: 0 10px;
  font-weight: bold;
  font-size: 24px;
}

.question {
  margin: 10px;
  font-size: 18px;
}

.hover-zone {

}

.hover-zone:hover {
  border: 2px solid #1CB0F6 !important;
  background-color: #DDF4FF;
  color: #1CB0F6;
  // border-color: #1CB0F6;

  .tab-number {
    border: 2px solid #1CB0F6 !important;
  }
}

.choosen-one {
  border: 2px solid #1CB0F6 !important;
  background-color: #DDF4FF;
  color: #1CB0F6;
  .tab-number {
    border: 2px solid #1CB0F6 !important;
  }
}

.zoom-on-click {}

.zoom-on-click:active {
  animation: zoom-on-click 0.2s ease-in-out;
}

@keyframes zoom-on-click {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}