.showcase {
  // padding-top: 70px;

  background: url('../../../../../assets/night-background.png');
  width: 100%;
  height: 100vh;
  // background-position: center;
  background-size: cover;
  position: relative;

  .opacity-layer {
    // background-color: black;
    background: rgba(29, 60, 163, 0.8);
    // opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .showcase-inner-container {
    position: relative;
    height: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .globe-img {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text-and-button {
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      h1 {
        font-weight: bold;
        color: white;
        text-align: center;
      }

      p {
        color: white;
        text-align: center;
        font-size: 20px;
        margin: 10px 0 40px;
      }

      .button {
        width: 300px;
      }
    }
  }
}