body {
  // font-family: 'Varela Round', sans-serif !important;
  font-family: 'Quicksand', sans-serif !important;
}

@media (min-width: 1200px) {
  .container{
      max-width: 1300px !important;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  border-radius: 15px !important;
}