
.course {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  margin: 25px 0;
  // background-color: royalblue;

  .divider {
    width: 100%;
    display: flex;
    align-items: center;
    // background-color: slategrey;

    .line {
      flex: 1;
      background-color: #ddd;
      height: 2px;
    }

    .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: 45px;
        margin: 20px;
        transform: translate(5%, -20%);
      }

      .level {
        color: #cd7900;
        font-size: 17px;
        font-weight: bold;
        position: absolute;
        transform: translate(10%, 0%);
      }
    }

  }

  .course-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .exercise-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      cursor: pointer;
      // border-radius: 100%;
      // background-color: salmon;
      
      .exercise-illustration {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 106px;
        height: 106px;
        border: 8px solid #E5E5E5;
        // background-color: seagreen;
        border-radius: 100%;

        .exercise-background-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 72px;
          height: 72px;
          border-radius: 100%;

          .exercise-icon {
            width: 65px;
            height: 65px;
          }

          .exercise-icon:hover {
            width: 72px;
            height: 72px;
            animation: shake 0.25s;
            animation-iteration-count: infinite;
          }
        }

        .honey-you-should-see-me-in-a-crown {
          position: absolute;
          transform: translate(70%, 60%);

          .level-reached {
            color: #cd7900;
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: 15px;
            left: 20px;
          }
        }
      }

      .exercise-name {
        font-size: 17px;
        font-weight: bold;
        text-align: center;
        color: #3C3C3C;
      }
    }
  }
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-13deg); }
  100% { transform: rotate(13deg); }
}