.cai-anh-dang-sau {
  // width: 100vh;
  // left: 0;
  // position: absolute;
  // z-index: -1;
  background-color: red;
  // height: 100px;
  width: 100%;
  position: absolute;
  background-image: url('../../../assets/field2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.imgage {
  max-width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
}

.exercises-and-may-cai-ben-phai-container {
  // margin: 50px auto 0;
  margin-top: 0px;
  padding-top: 150px;
  // max-width: 1140px;
  display: flex;

  .exercises-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background-color: red;
    margin: 0 50px 0 0;

    @media screen and (max-width: 575px) {
      margin-right: 0px;
    }

    // background-color: white;
    // border: 2px solid #ddd;
    border-radius: 20px;
    z-index: 100;
    // box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  }

  .may-cai-ben-phai-container {
    flex: 1;
    width: 428px;
    z-index: 100;

    @media screen and (max-width: 575px) {
      display: none;
    }

    .frame {
      // border-style: solid;
      // border-width: 2px;
      border-radius: 20px;
      border-color: #ccc;
      padding: 20px;
      margin-bottom: 20px;
      background-color: white;
      box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);

      .frame-title {
        display: table;
        width: 100%;

        color: #3c3c3c;
        font-size: 24px;
        line-height: 26px;
        margin: 0 0 25px;
        font-weight: 700;

        .title {
          display: table-cell;
          vertical-align: middle;
        }

        .more {
          float: right;
          text-align: right;
          display: table-cell;
          color: #1cb0f6;
          cursor: pointer;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: .8px;
          text-transform: uppercase;
        }
      }

      .streak-container {
        display: flex;
        .streak-circle-container {
          display: flex;
          flex: 2;
          justify-content: center;
          align-items: center;
          text-align: center;
          vertical-align: middle;

          .streak-circle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ff9600;
            font-size: 60px;
            font-weight: bold;
            width: 150px;
            height: 150px;
            border-style: solid;
            border-width: 12px;
            border-radius: 100%;
            border-color: #ff9600;

            .sub-text {
              font-size: 12px;
            }

            .streak-logo {
              height: 56.25px;
              width: 56.25px;
              // background-color: royalblue;
              position: absolute;
              background-image: url(//d35aaqx5ub95lt.cloudfront.net/images/icons/streak.svg);
              background-repeat: no-repeat;
              background-size: contain;
              transform: translate(75%, 90%);
            }
          }

        }

        .streak-goal-container {
          flex: 1;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          .main-text {
            color: #ff9600;
            font-size: 32px;
            font-weight: bold;
          }

          .sub-text {
            font-size: 17px;
            color: #777777;
          }
        }
      }

      .achievements-container {
        display: flex;
        flex-wrap: wrap;
        
        .one-achievement-container {
          width: 22%;
          margin: 1.5%;
          cursor: pointer;
          position: relative;

          .achievement-icon {
            width: 100%;
            padding-bottom: 124.5%;
            
          }

          .star-container {
            width: 20%;
            height: 20%; 
            position: absolute;
            // background-color: yellow;

            .black-star {
              background: url(//d35aaqx5ub95lt.cloudfront.net/images/achievements/star_black.svg) no-repeat;
              background-size: contain;
              background-position: 50%;
              opacity: .2;
              width: 100%;
              height: 100%;
              position: absolute;
            }

            .gold-star {
              background: url(//d35aaqx5ub95lt.cloudfront.net/images/achievements/star.svg) no-repeat;
              background-size: contain;
              background-position: 50%;
              opacity: 1;
              z-index: 2;
              width: 100%;
              height: 100%;
              position: absolute;
            }
          }

          .star-1 {
            // transform: translate(50%, -230%);
            left: 50%;
            top: 50%;
            transform: translate(-200%, 50%);
          }
          .star-2 {
            // transform: translate(178%, -160%);
            left: 50%;
            top: 50%;
            transform: translate(-50%, 100%);
          }
          .star-3 {
            // transform: translate(305%, -230%);
            left: 50%;
            top: 50%;
            transform: translate(100%, 50%);
          }
        }

        .one-achievement-container:hover {
          opacity: .8;
        }
      }
    }
  }
}