.page-body {
  height: 100%;
  padding-top: 100px;
  background-color: #EAEFF9;

  .posts-and-topics-container {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    // background-color: red;

    .section-name {
      font-size: 24px;
      font-weight: bold;
      color: #333
    }
    
    .posts-section {
      flex: 2;
      
      .search-bar-and-post-button {
        display: flex;
        flex-direction: row;
        margin: 16px 28px 28px 0;
        height: 46px;

        .input-group {
          margin-right: 10px;

          .dd-button {
            background-color: white;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
            text-transform: none !important;
            font-size: 16px !important;
            font-weight: 500 !important;
            color: #333 !important;
            border: 1px solid #ccc;
            // border-style: unset;
          }
  
          .dd-button:hover {
            background-color: #555;
            color: #fff !important;
            border-width: 1px;
            margin-top: unset;
          }
  
          .dd-button:focus {
            background-color: #555;
            color: #fff !important;
          }
  
          .search-field {
            box-shadow: unset;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-weight: 500 !important;
            height: 100%;
            font-size: 16px;
          }
        }
      }

      .post-card {
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        display: flex;
        position: relative;
        padding: 20px 24px;
        margin: 16px 28px 16px 0;

        .topic-tag {
          border-radius: 10px;
          position: absolute;
          font-size: 12px;
          font-weight: bold;
          border-width: 2px;
          border-style: solid;
          background-color: white;
          right: 5%;
          top: -8px;
          height: 30px;
          min-width: 96px;
          display: flex;
          align-items: center;
          justify-content: center;

          .dat-circle {
            border-radius: 100%;
            width: 10px;
            height: 10px;
            margin-right: 6px;
          }
        }

        .profile-picture-column {
          margin: 0 24px 0 0;

          .profile-picture {
            border-radius: 100%;
            width: 62px;
            height: 62px;
          }
        }

        .activities-column {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .activity-container {
            display: flex;
            flex-direction: row;
            margin: 6px 0;
            
            .icon {
              font-size: 20px;
              color: #999;
              margin-right: 6px;
            }
          }

        }

        .detail-column {
          flex: 3;
          display: flex;
          flex-direction: column;
          padding-right: 24px;

          .author-and-posted-time-container {
            display: flex;
            flex-direction: row;
            align-items: baseline;
          }
        }

        .post-title {
          font-size: 22px;
          font-weight: bold;
          // color: #333;
          color: #1cb0f6;
        }

        .subtext-1 {
          //for author
          font-size: 18px;
          font-weight: bold;
          color: #555;
          margin-right: 6px;
        }

        .subtext-2 {
          //for posted time
          font-size: 16px;
          font-weight: 600;
          color: #999;
        }

        .subtext-3 {
          //for content
          margin-top: 16px;
          font-size: 16px;
          font-weight: 500;
          color: #999;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }

        .subtext-4 {
          //for activities
          font-size: 14px;
          font-weight: 600;
          color: #999;
        }
      }
    }
    

    .topics-section {
      flex: 1;

      .topics-card {
        background-color: white;
        margin: 16px 0;
        display: flex;
        // height: 400px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        border-radius: 16px;
        padding: 26px;
        flex-direction: column;
        cursor: pointer;

        .topic-group {
          display: flex;
          flex-direction: row;
          // margin: 16px 0;
          position: relative;
          padding: 16px;
          border-radius: 10px;

          .topic-name {
            font-weight: bold;
            color: #555;
            font-size: 16px;
            user-select: none;
          }

          .check-icon {
            font-size: 24px;
            color: #1cb0f6;
            margin-right: 16px;
            right: 0;
            position: absolute;
          }

          .icon {
            font-size: 24px;
            color: #555;
            margin-right: 14px;
          }

          .dat-circle-container {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 14px;

            .dat-circle {
              border-radius: 100%;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
       .topic-group:hover {
         background-color: #eee;
       }
    }
  }
}

.line {
  width: 100%;
  height: 2px;
  margin: 16px 0;
  background-color: #ddd;   
}


.button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-width: 2px;
  border-radius: 20px;
  padding: 10px 35px;
  // height: 50px;
}


.button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  // border-width: 2px;
  border-width: 0;
  border-radius: 10px;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: fit-content;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  // height: 50px;
}

.button:hover {
  margin-top: unset !important;
  // border-bottom-width: unset !important;
  border: none;
}
.button:active {
  margin-top: unset !important;
  // border-bottom-width: unset !important;
  border: none;
}

.primary-button {
  color: white;
  background-color: #1CB0F6;
  // border-color: #007CBD;
}

.primary-button:hover {
  color: white;
  background-color: #00CDF5;
  // border-color: #6dcc00;
}

.primary-button:active {
  color: white !important;
  background-color: #008CCF !important;
  // border-color: #6dcc00;
}